.nav-link {
    font-size: large;
}

li {
    font-size: larger;
}

p {
    font-size: 14pt;
}

p-card {
    font-size: 13pt;
}

span {
    font-size: medium;
}

.card-subtitle {
    font-size: medium;
}

.card-text {
    font-size: medium;
}

.text-muted {
    font-size: 13pt;
}