/* Page backgrounds */

.home-section-bg  {
    color: rgb(252, 228, 255);
    background-color: #171321;   
}

.dark .navbar {
    background: #171321
}

.article {
    background: #171321
}

.page-body {
    background: #171321
}

.fa-search {
    color: white;
}

.dark .card {
    background: #212121;
}

.wg-features .home-section-bg {
    background: #4a0f46;
    opacity: 69%;
}

/* Button and icon element colours */

.fa-envelope.big-icon {
    color: #d459ab;
}

/* Font sizes */
#profile {
    width: 90% !important;
    max-width: 100% !important;
    padding: 5pt !important;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    top: 50%;
    left: 0%;
    right: 10%
}

.portrait-tile {
    top: 30%;
    left: 50%;
    right: 60%
}

ul {
font-size: large;
text-align: left;
line-height: 2em;
text-align: left;
}
.nav-link {
    font-size: large;
}

li {
    font-size: larger;
}

p {
    font-size: 14pt;
}

p-card {
    font-size: 13pt;
}

span {
    font-size: 20px;
    color: white;
}

.dark .navbar-brand {
    color: white;
}

.dark a {
    color: #04D2FF
}

a.summary-link {
    color: white;
}

.ai{
    color: #d459ab;
}

.fab {
    color: #d459ab;
}

.fa {
    color: #d459ab;
}

.btn-outline-primary {
    color: #d459ab;
    border-color:#d459ab;
}

.card-subtitle {
    font-size: medium;
}

.card-text {
    font-size: medium;
}

.text-muted {
    font-size: 13pt;
}

header {
  border-bottom: 4px solid #d3349e;
  margin: 0;
}

.navbar-collapse, .main-menu-item, .collapse, .justify-content-center {
    font-size: x-large;
    font-weight: 400;
}

.wg-about-avatar .bio-text {
    max-width: 90%;
    justify: center;
}